<h1>Crafty Wild Flower Store - Built on Next.js</h1>
<iframe src="https://main.dildc799q0ldh.amplifyapp.com/" width=1000px height=1000px>
<a href="https://main.dildc799q0ldh.amplifyapp.com/">OOPS TRY THIS INSTEAD</a>
</iframe>