<p style="color: green"><%= notice %></p>

<h1>Records</h1>
<%= link_to "New Record", new_record_path, class:"m-2 btn btn-secondary" %>
<div id="records">
  <% @records.each do |record| %>
    <%= render record %>
    <p>
      <%= link_to "Show this Record", record, class:"btn btn-secondary" %>
    </p>
  <% end %>
</div>


