<br/>

<div class="container text-center border border-dark rounded-3 p-2">
    <div class="row row-cols-4 gap-2"> 
        <button id=0 type="button" class="mx-auto col btn btn-primary btn-lg text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">O</button>
        <button id=1 type="button" class="mx-auto col btn btn-primary btn-lg text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">X</button>
        <button id=2 type="button" class="mx-auto col btn btn-primary btn-lg text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">O</button>
        <button id=3 type="button" class="mx-auto col btn btn-primary btn-lg text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">X</button>
        <button id=4 type="button" class="mx-auto col btn btn-primary btn-lg text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">O</button>
        <button id=5 type="button" class="mx-auto col btn btn-primary btn-lg text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">X</button>
        <button id=6 type="button" class="mx-auto col btn btn-primary btn-lg text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">O</button>
        <button id=7 type="button" class="mx-auto col btn btn-primary btn-lg text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">X</button>
        <button id=8 type="button" class="mx-auto col btn btn-primary btn-lg text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">O</button>
    </div>
</div>
<div class="d-grid m-2 gap-4">
  <button class="btn btn-primary text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" type="button">Play Again</button>
</div>
